In [5]:
import matplotlib.pyplot as plt
import pandas as pd

#Carregar a base
df = pd.read_excel(r'BaseFuncionarios.xlsx')

df.head(3)

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8
1,102,ADRIANO,SOUZA,M,1993-12-09,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-12-05,NaT,1635,500,225,Estagiário,Marketing,57,7.3
2,342,ALFREDO,ARAUJO,M,1986-08-14,"Av. Limeira, 722 - Areião, Piracicaba - SP, 13...",2020-04-02,NaT,11153,750,300,Coordenador,Marketing,70,8.7

In [ ]:
df['Data de Contratacao'] = pd.to_datetime(df['Data de Contratacao'])
df['Data de Demissao'] = pd.to_datetime(df['Data de Demissao'], errors='coerce')
df.info()

In [ ]:
df['Status'] = df['Data de Demissao'].isna().map({True: 'Ativo', False:'Demitido'})

df['Status'].value_counts()

Status
Ativo       155
Demitido     51
Name: count, dtype: int64

In [10]:
total_ativos = df[ df['Status']=='Ativo'].shape[0]
print(total_ativos)

total_demitidos = df[ df['Status']=='Demitido'].shape[0]
print(total_demitidos)

155
51

In [11]:
total_contratacoes = df['Data de Contratacao'].notna()

print(total_contratacoes)

0      True
1      True
2      True
3      True
4      True
       ...
201    True
202    True
203    True
204    True
205    True
Name: Data de Contratacao, Length: 206, dtype: bool

In [ ]:
##folha_salarial = 

#df['Folha Salarial'] = df['Salario'] + df['VR'] + df['VT']
#total_folha = df[ df['Status']=='Ativo']['Folha Salarial'].sum()
#print(total_folha)

#Outra forma
folha_salarial = (df['Salario'] + df['VR'] + df['VT'])[df['Status']== 'Ativo'].sum()

print(folha_salarial)

1487553

In [19]:
df.head(1)

,ID RH,Nome,Sobrenome,Genero,Data de Nascimento,Endereço,Data de Contratacao,Data de Demissao,Salario,VR,VT,Cargo,Área,Horas Extras,Avaliação do Funcionário,Status,Folha Salarial
0,195,ADELINO,WERNECK,M,1997-04-27,"Av. Guilherme Campos, 500 - Jardim Santa Geneb...",2015-04-23,NaT,12954,700,200,Coordenador,Administrativo,161,9.8,Ativo,13854